<div class="container-fluid" ng-controller="SaleProductCtrl">
    <h3 class="text-center text-warning">
        <strong>Sản phẩm đang khuyến mãi</strong>
    </h3>
    <div class="row sale-list scroll-bar">
        <div class="col-md-12 col-sm-12 col-lg-12" ng-repeat="(id, product) in products" title="{{product.name}}">
            <span class="thumbnail sale-product-thumb">

                <span class="pull-right font-xsxs glyphicon glyphicon-certificate sale-bg"></span>
                <span class="pull-right font-lg sale-fg">
                    <strong>{{product.sale || 10}}%</strong>
                </span>
                <a ui-sref="single({id:product.id})">
                    <img ng-src={{product.image}} alt="{{product.name}}">
                    <h3 class="text-info text-center">
                        <strong>{{product.name | limitTo:22}}{{product.name.length > 22 && '...' || ''}}</strong>
                    </h3>
                </a>
                <hr class="line">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <span class="font-sm text-strikethrough">{{product.price | currency: '':0}}đ</span>
                        <p class="price font-md">{{product.price*0.9 | currency: '':0}}đ</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button class="btn btn-success btn-sm right" ng-click="addToCart(product.id, 1)">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
