<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(productid, item) in cart">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" ui-sref="single({id:productid})">
                                    <img class="media-object" ng-src="{{item.product.image}}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body" style="padding-left:20px">
                                    <h4 class="media-heading"><a ui-sref="single({id:productid})">{{item.product.name}}</a></h4>

                                    <span>Trạng thái: </span>
                                    <span class="text-success">
                                        <strong>In Stock</strong>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control" min="1" max="30" ng-model="item.quantity"
                            ng-change="updateCart(productid, item.quantity)"> </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>{{item.product.price | number:0}} vnđ</strong>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>{{item.product.price * item.quantity | number:0}} vnđ</strong>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" ng-click="removeFromCart(productid)">
                                <span class="glyphicon glyphicon-remove"></span> Xóa </button>
                        </td>
                    </tr>

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Tổng tiền sản phẩm</h5>
                        </td>
                        <td class="text-right">
                            <h5>
                                <strong>{{subtotal() || 0 | number:0}} vnđ</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>VAT</h5>
                        </td>
                        <td class="text-right">
                            <h5>
                                <strong>{{tax() || 0 | number:0}} vnđ</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h3>Tổng cộng</h3>
                        </td>
                        <td class="text-right">
                            <h3>
                                <strong>{{total() || 0 | number:0}} vnđ</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a ui-sref="product">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua sắm </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="checkout()"> Thanh toán
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
