<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default filter">

            <div class="btn-group-vertical" role="group" aria-label="...">
                <div class="content-filter">
                    <form style="margin-top:10px">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm" ng-model="filter.searchString">
                    </div>
                </form>

                </div>
                <button type="button" class="btn btn-info" ng-click="listIsCollapse['producer'].isCollapse = !listIsCollapse['producer'].isCollapse">Nhà sản xuất</button>
                <div class="content-filter" uib-collapse="listIsCollapse['producer'].isCollapse">
                    <div class="checkbox" ng-repeat="(id, producer) in filter.producers">
                        <label>
                            <input type="checkbox" ng-model="producer.checked">{{producer.value}}
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn-info" ng-click="listIsCollapse['size'].isCollapse = !listIsCollapse['size'].isCollapse">Kích thước</button>

                <div class="content-filter" uib-collapse="listIsCollapse['size'].isCollapse">
                    <div class="checkbox" ng-repeat="(id, size) in filter.sizes">
                        <label>
                            <input type="checkbox" ng-model="size.checked">{{size.name}}
                        </label>
                    </div>
                </div>

                <button type="button" class="btn btn-info" ng-click="listIsCollapse['price'].isCollapse = !listIsCollapse['price'].isCollapse">Giá</button>
                <div class="content-filter" uib-collapse="listIsCollapse['price'].isCollapse">
                    <div range-slider
                    min="filter.price.range.min"
                    max="filter.price.range.max"
                    model-min="filter.price.minPrice"
                    model-max="filter.price.maxPrice"
                    show-values="true"
                    filter = "number:0"
                    step="100000"></div>
                </div>
                <button type="button" class="btn btn-info" ng-click="listIsCollapse['color'].isCollapse = !listIsCollapse['color'].isCollapse">Màu sắc</button>
                <div class="content-filter" uib-collapse="listIsCollapse['color'].isCollapse">

                    <div class="checkbox" ng-repeat="(id, color) in filter.colors">
                        <label>
                            <input type="checkbox"
                            ng-model="color.checked">{{color.value}}
                        </label>
                        <span class="glyphicon glyphicon-stop font-xs pull-right" style="color:{{color.colorCode}}"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
