<a class="dropdown-toggle cursor-pointer" ng-click="$root.isLoginCollapse = !$root.isLoginCollapse"
 ng-init="$root.isLoginCollapse=true" role="button" aria-haspopup="true">
    <span class="glyphicon glyphicon-user"></span>

    Đăng nhập

</a>
<ul class="dropdown-menu user-login-signup" uib-collapse="$root.isLoginCollapse">
    <li>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <span class="pull-left text-danger glyphicon glyphicon-remove font-xsxs cursor-pointer"
                ng-click="$root.isLoginCollapse = !$root.isLoginCollapse">

                </span>
            </div>
        </div>
        <div data-ng-include="'components/login/loginview.html'"></div>
    </li>
</ul>
