<div class="container wrapper" ng-contrller="CheckoutCtrl" xmlns="http://www.w3.org/1999/html">
<div class="row cart-body" ng-hide="isSuccess">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
    <!--REVIEW ORDER-->
    <div class="panel panel-info">
        <div class="panel-heading">
            Xem lại đơn hàng
            <div class="pull-right">
                <small><a class="afix-1" href="#">Edit Cart</a></small>
            </div>
        </div>
        <div class="panel-body">
            <div data-ng-repeat="item in cart">
                <div class="form-group">
                    <div class="col-sm-3 col-xs-3">
                        <img class="img-responsive" ng-src="{{item.product.image}}" />
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="col-xs-12">{{item.product.name}}</div>
                        <div class="col-xs-12">
                            <small>Quantity:
                                <span>{{item.quantity}}</span>
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right">
                        <h6>{{item.product.price * item.quantity | number:0}} vnđ</h6>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>

            <div class="form-group">
                <div class="col-xs-12">
                    <strong>VAT</strong>

                    <div class="pull-right">
                        <span>{{getTax() | number:0}}</span>
                        <span> VNĐ </span>
                    </div>
                </div>

            </div>
            <br/>

            <div class="form-group">
                <div class="col-xs-12">
                    <strong>Phí vận chuyển: </strong>

                    <div class="pull-right">
                        <span>{{credit_card.fee.fee | number: 0}} VNĐ</span>
                    </div>

                </div>
            </div>
            <br/>

            <div class="form-group">
                <div class="col-xs-12">
                    <strong>Tổng cộng:</strong>

                    <div class="pull-right">
                        <span>{{getTotal() | number:0}}</span>
                        <span> VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--REVIEW ORDER END-->
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
    <!--SHIPPING METHOD-->
    <div class="panel panel-info">
        <div class="panel-heading">Thông tin giao hàng</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6 col-xs-12">
                        <strong>Họ:</strong>
                        <input type="text" name="first_name" class="form-control" ng-model="transportInfo.first_name" />
                    </div>
                    <div class="span1"></div>
                    <div class="col-md-6 col-xs-12">
                        <strong>Tên:</strong>
                        <input type="text" name="last_name" class="form-control" ng-model="transportInfo.last_name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <strong>Địa chỉ:</strong>
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="address" class="form-control" value="" ng-model="transportInfo.address" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <strong>Quận:</strong>
                    </div>
                    <div class="col-md-6">
                        <strong>Thành phố:</strong>
                    </div>
                    <div class="col-md-6">

                        <select class="form-control" ng-options="item as item.area for item in transportFee" ng-model="transportInfo.fee">

                        </select>

                    </div>
                    <div class="col-md-6">
                        <input type="text" name="state" class="form-control" ng-init="transportInfo.city='Tp Hồ Chí Minh'" readonly="true" ng-model="transportInfo.city"/>
                    </div>
                </div>
                <!-- <div class="form-group">
                   <div class="col-md-6">
                       <strong>Thành phố: </strong>
                   </div>

                   <br/>

                   <div class="col-md-12">
                       <input type="text" name="state" class="form-control" value="" data-ng-model="credit_card.city" />
                   </div>
               </div> -->
                <div class="form-group">
                    <div class="col-md-12">
                        <strong>Số điện thoại liên hệ:</strong>
                    </div>
                    <div class="col-md-12">
                        <input type="text" name="phone_number" class="form-control" value="" data-ng-model="transportInfo.phone" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <input class="btn btn-primary" value="Đặt hàng" ng-click="bookProduct()" ng-disabled="!isValidForm()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--SHIPPING METHOD END-->


    <!--CREDIT CART PAYMENT-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <span><i class="glyphicon glyphicon-transfer"></i></span> Thanh toán PayPal</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label">Card Type:</label>
                    <div class="col-md-8">
                        <select id="CreditCardType" name="CreditCardType" class="form-control" ng-model="credit_card.type" ng-init="credit_card.type='visa'">
                            <option value="visa">Visa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Credit Card Number: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="car_number" ng-model="credit_card.number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Card CVV: </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="car_code" ng-model="credit_card.cvv2" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <strong>First Name</strong>
                    </div>
                    <div class="col-md-6">
                        <strong>Last Name</strong>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="car_number" ng-model="credit_card.first_name" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" name="car_number" ng-model="credit_card.last_name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <strong>Expiration Date</strong>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="" ng-model="credit_card.expire_month">
                            <option value="">Month</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" name="" ng-model="credit_card.expire_year">
                            <option value="">Year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button class="btn btn-primary" ng-click="PlaceOrder()">Thanh toán
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--CREDIT CART PAYMENT END-->
</div>

</div>

<div class="row cart-body" ng-show="isSuccess" ng-init="isSuccess=false">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 col-md-push-4 col-sm-push-4">

        <div class="panel panel-success">
            <div class="panel-heading">
                Thanh toán thành công
            </div>
            <div class="panel-body">
                    <span class="text-center text-primary">
                        Quý khách vừa thanh toán thành công, vui lòng kiểm tra email để xem chi tiết đơn hàng! Chúng tôi sẽ chuyển hàng đến cho quý khách trong thời gian sớm nhất.
                    </span>
            </div>
        </div>
    </div>
</div>
<div class="row cart-footer">
</div>
</div>