<div class="container-fluid" ng-controller="BestSaleCtrl">
    <h1 class="text-center text-success"><strong>Sản phẩm mới nhất</strong></h1>
    <div class="row best-sale">

        <div ng-repeat="(id, product) in products | limitTo:15"
        class="col-md-2 item {{$index % 5 == 0 && 'col-md-offset-1'}}">
            <div class="product-name">
                <h5 title="{{product.name}}">{{product.name | limitTo:12}}{{product.name.length > 12 && '...' || ''}}</h5>
            </div>
            <div class="thumbnail">

                <a ui-sref="single({id:product.id})">
                    <img ng-src={{product.image}} alt="{{product.name}}">
                </a>
            </div>
        </div>
    </div>
</div>
